# Configuration Serveur BDE 42 Sandwicherie
PORT=5001

# API OAuth2 Intra 42 (Créez votre application sur https://profile.intra.42.fr/oauth/applications)
INTRA42_CLIENT_ID=votre_uid_intra_42
INTRA42_CLIENT_SECRET=votre_secret_intra_42
INTRA42_REDIRECT_URI=http://localhost:3000/api/auth/42/callback

# Logins 42 autorisés en tant qu'Administrateurs BDE (séparés par des virgules)
ADMIN_LOGINS=42_login, other_42_login
